{% extends 'base.html.twig' %}

{% block title %}Edit Opportunity{% endblock %}

{% block body %}
    <h1>Edit Opportunity</h1>

    {{ include('opportunity/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('opportunity_index') }}">back to list</a>

    {{ include('opportunity/_delete_form.html.twig') }}
{% endblock %}
